{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>3 en raya!!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'TRESENRAYA/styles.css' %}"/>
        <link rel="icon" href="{% static 'GALERIA/IMAGENES/GIFMorty.gif' %}" />
    </head>
    <body>
        <h1>3 EN RAYA !!</h1>
        <section class="tablero">
            <button id="botonuno" value="1"></button>
            <button id="botondos" value="2"></button>
            <button id="botontres" value="3"></button>
            <button id="botoncuatro" value="4"></button>
            <button id="botoncinco" value="5"></button>
            <button id="botonseis" value="6"></button>
            <button id="botonsiete" value="7"></button>
            <button id="botonocho" value="8"></button>
            <button id="botonnueve" value="9"></button>
        </section>
        <script src="{% static 'TRESENRAYA/tresenraya.js' %}"></script>
    </body>
</html>