{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>3 en raya!!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'TRESENRAYA/styles.css' %}"/>
    </head>
    <body>
        <h1>3 EN RAYA!!</h1>
        <section class="tablero">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </section>
    </body>
</html>