{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'SPACEGUN/styles.css' %}"/>
        <link rel="icon" href="{% static 'GALERIA/IMAGENES/GIFMorty.gif' %}" />
        <title>SPACEGUN</title>
    </head>
    <body id="espacio">
        <h1>
            <p class="titulo">S</p>
            <p class="titulo">P</p>
            <p class="titulo">A</p>
            <p class="titulo">C</p>
            <p class="titulo">E</p>
            <p class="titulo">G</p>
            <p class="titulo">U</p>
            <p class="titulo">N</p>
        </h1>
        <h2 id="start">START</h2>
        <script src="{% static 'SPACEGUN/spacegun.js' %}"></script>
    </body>
</html>