{% extends "MUROS/layout.html" %}

{% block body %}
        <h1>MUROS DE CONTENCIÓN</h1>
        <h3>PARÁMETROS DE SUELO</h3>
        <section class="parametros">
            <div class="tabla">
                <table>
                    <thead>
                        <tr>
                            <th> PARÁMETROS </th>
                            <th> SUELO 1 </th>
                            <th> SUELO 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="CP">ү (KN/m³)</td>
                            <td><input class="helptext" type="number" placeholder="Peso específico" name="Peso específico"></td>
                            <td><input class="helptext" type="number" placeholder="Peso específico" name="Peso específico"></td>
                        </tr>
                        <tr>
                            <td class="CP">Φ (°)</td>
                            <td><input class="helptext" type="number" placeholder="Ángulo de fricción" name="Ángulo de fricción"></td>
                            <td><input class="helptext" type="number" placeholder="Ángulo de fricción" name="Ángulo de fricción"></td>
                        </tr>
                        <tr>
                            <td class="CP">C (KN/m²)</td>
                            <td><input class="helptext" type="number" placeholder="Cohesión" name="Cohesión"></td>
                            <td><input class="helptext" type="number" placeholder="Cohesión" name="Cohesión"></td>
                        </tr>
                </table>
            </div>
        </section>
        <h3>DIMENCIONES DEL MURO</h3>
        <form action="{% url 'MUROS:index' %}">
        <section class="dimenciones">
                <div class="tabla">
                    <table>
                        <thead>
                            <tr>
                                <th> DIMENCIONES </th>
                                <th> MURO DE GRAVEDAD</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="CP">H(m)</td>
                                <td><input class="helptext" type="float" placeholder="Altura de muro" required="" name="H"></td>
                                <td class="result">{{H}}</td>
                            </tr>
                            <tr>
                                <td class="CP">H3 (m)</td>
                                <td><input class="helptext" type="float" placeholder="( 0.12H - 0.17H )" required="" name="H3"></td>
                                <td class="result">{{H3}}</td>
                            </tr>
                            <tr>
                                <td class="CP">B (m)</td>
                                <td><input class="helptext" type="float" placeholder="( 0.5H - 0.7H )" required="" name="B"></td>
                                <td class="result">{{B}}</td>
                            </tr>
                            <tr>
                                <td class="CP">B1 (m)</td>
                                <td><input class="helptext" type="float" placeholder="( > 0.3 m )" required="" name="B1"></td>
                                <td class="result">{{B1}}</td>
                            </tr>
                            <tr>
                                <td class="CP">B2 (m)</td>
                                <td><input class="helptext" type="float" placeholder="( 0.1H - 0.17H )" required="" name="B2"></td>
                                <td class="result">{{B2}}</td>
                            </tr>
                            <tr>
                                <td class="CP">B3 (m)</td>
                                <td><input class="helptext" type="float" placeholder="( > 0.02H2 )" required="" name="B3"></td>
                                <td class="result">{{B3}}</td>
                            </tr>
                            <tr>
                                <td class="CP">a (Grados)</td>
                                <td><input class="helptext" type="float" placeholder="Ángulo alfa" required="" name="a"></td>
                                <td class="result">{{a}}</td>
                            </tr>
                            <tr>
                                <td class="CP">D (m)</td>
                                <td><input class="helptext" type="float" placeholder="(> 0.6 m )" required="" name="D"></td>
                                <td class="result">{{D}}</td>
                            </tr>
                            <tr>
                                <td class="CP">H' (m)</td>
                                <td class="result">{{Hp}}</td>
                            </tr>
                            <tr>
                                <td class="CP">H1 (m)</td>
                                <td class="result">{{H1}}</td>
                            </tr>
                            <tr>
                                <td class="CP">H2 (m)</td>
                                <td class="result">{{H2}}</td>
                            </tr>
                            <tr>
                                <td class="CP">B4 (m)</td>
                                <td class="result">{{B4}}</td>
                            </tr>
                            <tr>
                                <td class="CP">B5 (m)</td>
                                <td class="result">{{B5}}</td>
                            </tr>
                            <tr>
                                <td class="CP">B6 (m)</td>
                                <td class="result">{{B6}}</td>
                            </tr>

                    </table>
                </div>

            <div>
                <button> Calcular </button>
            </div>
            <div>
                <img class="imagen" src="IMAGENESMUROS/Dimenciones_de_muro.jpg" width="300">
            </div>
        </section>
        </form>
{% endblock%}