body {
    background-color: rgb(155, 147, 147);
    cursor:crosshair;
    padding-bottom: 220px;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Pixel Digivolve";
    font-size: 80px;
    padding: 0px;
    margin: 15px;
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto;
}

h2 {
    color:white;
    text-align: center;
    font-family: "Pixel Digivolve";
    border-style: solid;
    font-size: 40px;
    padding: 15px;
    margin-left: 555px;
    margin-right: 555px;
    margin-top: 0px;
    
}

h2:hover {
    transform: scale(1.125);
    font-weight: bold;
    border-color: #00FF00;
    color: #00FF00;
    border-radius: 15px;
}


.titulo:hover {
    transform: scale(1.250);
    color: #69dd69;
    font-size: 85px;
}
