{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>CAJERO $$$</title>
        <link rel="stylesheet" type="text/css" href="{% static 'CAJERO/styles.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="text-align: center;">
        <h1 style="color:greenyellow">CAJERO $$$</h1>
        <img src="{% static 'CAJERO/cajero.webp' %}"/><br/>
        <input type="number" placeholder="Ingrese cantidad a retirar" id="dar" step="5">
        <input type="button" id="boton" value="Retirar" /><br/>
        <p id="resultado"></p>
        <script src="{% static 'CAJERO/cajero.js' %}"></script>
    </body>
</html>