{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>SFCC</title>
        <link rel="stylesheet" type="text/css" href="{% static 'GALERIA/styles.css' %}"/>
        <link rel="icon" href="{% static 'GALERIA/IMAGENES/GIFMorty.gif' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <div>Menú</div>
            <div><a id="sfcc" href= "{% url 'SFCCWEBSERVICES:index' %}">SFCC WEB SERVICES</a></div>
        </nav>
        <section>
            <audio id="a"></audio>
        </section>
        <section id="T">
            <section class="titulo">
                <div class="gif">
                    <a href="{% static 'GALERIA/IMAGENES/GIFMorty.gif' %}">
                    <img src="{% static 'GALERIA/IMAGENES/GIFMorty.gif' %}" width=75/>
                    </a>
                </div>
                <div class="logo">
                    <img src="{% static 'GALERIA/IMAGENES/SFCC_LETRAS_PNG.png' %}" width=500/>
                </div>
            </section>
            <section class="subtitulo">
                <div>C</div>
                <div>o</div>
                <div>m</div>
                <div>i</div>
                <div>c</div>
                <div> </div>
                <div>&</div>
                <div> </div>
                <div>M</div>
                <div>a</div>
                <div>n</div>
                <div>g</div>
                <div>a</div>
                <div> </div>
                <div>A</div>
                <div>r</div>
                <div>t</div>
            </section>

        </section>
 
            <h3>ILUSTRACIONES</h3>
        <section class="galeria">

            <div>
                <a href="{% static 'GALERIA/IMAGENES/CHICAZSFCC.png' %}"  target="_BLANK">
                <img src="{% static 'GALERIA/IMAGENES/CHICAZSFCC.png' %}" alt="zorra" width=75%/>
                </a>
                <div class="boton">
                    <button onclick="audio();">COMPRAR</button>
                </div>
            </div>
            <div>
                <a href="{% static 'GALERIA/IMAGENES/CONCEPTARTWARGAMESFCC.png' %}" target="_BLANK">
                <img src="{% static 'GALERIA/IMAGENES/CONCEPTARTWARGAMESFCC.png' %}" alt="perro de guerra" width=75%/>
                </a>
                <div class="boton">
                    <button onclick="audio();">COMPRAR</button>
                </div>
            </div>
            <div>
                <a href="{% static 'GALERIA/IMAGENES/GATO GAMER SFCC.png' %}" target="_BLANK">
                <img src="{% static 'GALERIA/IMAGENES/GATO GAMER SFCC.png' %}" alt="gato" width=75%/>
                </a>
                <div class="boton">
                    <button onclick="audio();">COMPRAR</button>
                </div>
            </div>
            <div>
                <a href="{% static 'GALERIA/IMAGENES/SVSFCC.png' %}" target="_BLANK">
                <img src="{% static 'GALERIA/IMAGENES/SVSFCC.png' %}" width=75%/>
                </a>
                <div class="boton">
                    <button onclick="audio();">COMPRAR</button>
                </div>
            </div>
            <div>
                <a href="{% static 'GALERIA/IMAGENES/VIRGEN MARIA FINALSFCC.png' %}" target="_BLANK">
                <img src="{% static 'GALERIA/IMAGENES/VIRGEN MARIA FINALSFCC.png' %}" width=75%/>
                </a>
                <div class="boton">
                    <button onclick="audio();">COMPRAR</button>
                </div>
            </div>
            <div>
                <a href="{% static 'GALERIA/IMAGENES/PABLO ESCOBARSFCC.png' %}" target="_BLANK">
                <img src="{% static 'GALERIA/IMAGENES/PABLO ESCOBARSFCC.png' %}" width=75%/>
                </a>
                <div class="boton">
                    <button onclick="audio();">COMPRAR</button>
                </div>
            </div>
            <div>
                <a href="{% static 'GALERIA/IMAGENES/INOSUKE.png' %}" target="_BLANK">
                <img src="{% static 'GALERIA/IMAGENES/INOSUKE.png' %}" width=75%/>
                </a>
                <div class="boton">
                    <button onclick="audio();">COMPRAR</button>
                </div>
            </div>
            <div>
                <a href="{% static 'GALERIA/IMAGENES/INOSUKE.png' %}" target="_BLANK">
                <img src="{% static 'GALERIA/IMAGENES/INOSUKE.png' %}" width=75%/>
                </a>
                <div class="boton">
                    <button onclick="audio();">COMPRAR</button>
                </div>
            </div>
        </section>
            <h3>STORYBOARDS</h3>
        <section id= "SB">

            <a href="{% static 'GALERIA/IMAGENES/STORYBOARD BONDED TRAILER SFCC.pdf' %}" target="_BLANK">
            <img src="{% static 'GALERIA/IMAGENES/57  Fenix ademan, logo 2.0.png' %}" width="50%">
            </a>
            
        <script src="{% static 'GALERIA/galeria.js' %}"></script>
    </body>
</html>

