<!DOCTYPE>
<html>
    <head>
        <title>CANVAS</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>THE CANVAS</h1>
        <p>
            Cuantas lineas quieres?
            <input type="number" id="numero"  />
            <input type="button" id="boton" value="Go!" />
        </p>

        <script type="text/javascript">
            document.write("Estás en: "+"<h2><strong>"+window.location+"</strong><h2>");
            console.log("TOP SECRET");
            console.log(window);
        </script>
        <h1>Dibujo</h1>
        <canvas width="300" height="300" id="dibujito"></canvas>
        <h6>SFCC</h6>
        <script src="/static/CANVAS/ux.js"></script>
    </body>
</html>
