{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'GALERIA/IMAGENES/GIFMorty.gif' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'YARDSALE/styles.css' %}"/>
    <title>YARD SALE</title>
</head>
<body>
    YARD SALE

    <script src="{% static 'YARDSALE/yardsale.js' %}"></script>
</body>
</html>